*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: var(--page-background-color);
    color: var(--main-text-color);
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

:root {
    --main-color: #387653;
    --divider-color: #D9CBB3;
    --page-background-color: #F5F2EB;
    --main-text-color: #3C3C3C;
    --secondary-text-color: #A68A79;
    --cta-accent-color: #C97A7E;
    --hover-color: #D9A441;
}

.site-header {
    background-color: var(--main-color);
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.divider {
    height: 10px;
    width: 100%;
    background-color: #28543b;
}

.logo {
    height: 450px;
    min-width: 450px;
    transform: translateY(14px);
    margin-left: -60px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin-top: 125px;
    margin-right: 60px;
}

.nav-links a {
    color: var(--page-background-color);
    text-decoration: none;
    font-size: 2em;
    font-family: 'Montserrat', Arial, sans-serif;
}

.nav-links a:hover {
    color: var(--hover-color);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
  gap: 50px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h1{
    text-align: center;
    font-size: 2.5em;
    margin: 40px 0 10px 0;
}

h2 {
    text-align: center;
    font-size: 2em;
    margin: 40px 0 20px 0;
}

p {
    font-size: 1.3em;
    line-height: 1.6;
    margin: 0 20px 20px 20px;
    color: var(--main-text-color);
    text-align: center;
}

.product-window {
    height: 300px;
    width: 300px;
    background-color: lightgray;
    margin: 20px;
    border: 4px solid var(--main-color);
}

.section-divider {
    height: 5px;
    width: 80%;
    background-color: var(--divider-color);
    margin: 40px auto;
    border-radius: 5px;
}

.footer {
    background-color: var(--main-color);
    color: var(--page-background-color);
    text-align: center;
    padding: 20px 0;
    font-family: 'Montserrat', Arial, sans-serif;
    display: flex;
    justify-content: space-around;
    gap: 15px;
    width: 100%;
}

#copyright-text {
    font-size: 1.5em;
    color: var(--page-background-color)
}

.social-icons a {
    color: var(--page-background-color);
    text-decoration: none;
    font-size: 2em;
    margin: 0 10px;
}

@media (max-width: 964px) {
  .site-header {
    flex-direction: column;
    height: auto;
    padding: 20px 0;
    max-height: none;
  }

  .logo {
    height: 300px;
    min-width: 300px;
    margin: 0 auto;
    transform: scale(2.3) translate(0, 12px);
    position: relative;
    z-index: 0;
  }

  .nav-links {
    margin: 20px 0 0 0;
    gap: 15px;
    position: relative;
    z-index: 10;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    transform: translate(-20px, 0);
  }

  .nav-links a {
    font-size: 1.5rem;
  }

  .product-window {
    margin: 10px auto;
  }
}
