*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: var(--page-background-color);
    color: var(--main-text-color);
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

:root {
    --main-color: #387653;
    --divider-color: #D9CBB3;
    --page-background-color: #F5F2EB;
    --main-text-color: #3C3C3C;
    --secondary-text-color: #A68A79;
    --cta-accent-color: #C97A7E;
    --hover-color: #D9A441;
}

.site-header {
    background-color: var(--main-color);
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.divider {
    height: 10px;
    width: 100%;
    background-color: #28543b;
}

.logo {
    height: 450px;
    min-width: 450px;
    transform: translateY(14px);
    margin-left: -60px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin-top: 125px;
    margin-right: 60px;
}

.nav-links a {
    color: var(--page-background-color);
    text-decoration: none;
    font-size: 2rem;
    font-family: 'Montserrat', Arial, sans-serif;
}

.nav-links a:hover {
    color: var(--hover-color);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
  gap: 50px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

#products {
    text-align: center;
    font-size: 2.5rem;
    margin: 40px 0 20px 0;
}

.product-window {
    height: 300px;
    width: 300px;
    background-color: lightgray;
    margin: 20px;
    border: 4px solid var(--main-color);
}

.footer {
    background-color: var(--main-color);
    color: var(--page-background-color);
    text-align: center;
    padding: 20px 0;
    font-family: 'Montserrat', Arial, sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
    width: 100%;
}

.social-icons a {
    color: var(--page-background-color);
    text-decoration: none;
    font-size: 1.5rem;
    margin: 0 10px;
}

@media (max-width: 964px) {
    .site-header {
        flex-direction: column;
        height: auto;
        padding: 20px 0;
        max-height: 300px;
    }

    .logo {
        height: 450px;
        min-width: 450px;
        margin: 0;
        transform: translateY(-100px);
        position: relative;
        z-index: 0; 
    }

    .nav-links {
        margin: -220px 0 0 0;
        gap: 15px;
        position: relative;
        z-index: 10; 
    }

    .nav-links a {
        font-size: 1.5rem;
    }

    /* .grid-container {
        grid-template-columns: 1fr;
    } */

    .product-window {
        margin: 10px auto;
    }
}
